body {
  background: white;
}

.mytr {
  background-color: grey;
}

.mytd {
  color: black;
}

.button {
  background-color: red;
}

.title {
  margin: 50px;
}

.login {
  border: 1px solid black;
  background-color: lightblue;
  width: 50%;
}

.table {
  margin: 100px;
  width: 100px;
}
